body {
    font-family: Arial, sans-serif;
    text-align: center;

    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border-left: 2px solid #333;
    border-right: 2px solid #333;
}

h1 {
    color: #333;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
